@media screen and (max-width: 550px) {
    body {
        background-color: silver;
        color: silver;
        text-shadow: 1px 0px 1px silver;
    }
    .container {
        background-image: url("https://attonasi.github.io/112-final-project/public/images/portrait-background-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        /*        z-index: -10;*/
        background-attachment: fixed;
        border-radius: 10px
    }
}

@media screen and (min-width: 551px) and (max-width: 959px) {
    body {
        background-color: silver;
        color: silver;
        text-shadow: 1px 0px 1px silver;
        padding: .5%;
    }
    .container {
        background-image: url("https://attonasi.github.io/112-final-project/public/images/ascend.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: black;
        /*        z-index: -10;*/
        background-attachment: fixed;
        border: 2px solid silver;
        border-radius: 10px;
    }
}

@media screen and (min-width: 960px) {
    body {
        background-color: silver;
        color: silver;
        text-shadow: 1px 0px 1px silver;
        padding: .5%;
    }
    .container {
        background-image: url("https://attonasi.github.io/112-final-project/public/images/background-mirror.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-color: black;
        /*        z-index: -10;*/
        background-attachment: fixed;
        border: 2px solid silver;
        border-radius: 10px;
    }
}
