@media screen and (max-width: 550px) {
    .homeContent {
        width: 305px;
        height: 220px;
        margin: 2%;
    }
    .homeContent:hover {
        border: 2px solid beige;
    }
    .sectionBackgroundImage {
        position: absolute;
        z-index: -5;
        opacity: .6;
        width: auto;
        height: 220px;
        border-radius: 5px;
    }
    .homePage {
        div:nth-of-type(even)
    }
}

@media screen and (min-width: 960px) {
    .homeContent {
        width: 400px;
        height: 280px;
        margin: 2%;
    }
    .sectionBackgroundImage {
        position: absolute;
        z-index: -5;
        opacity: .6;
        width: auto;
        width: 400px;
        border-radius: 5px;
    }
}
