.hidden {
    display: none;
}

@media screen and (min-width: 551px) {
    .row.mobileHamburgerNav {
        display: none;
    }
    button {
        width: 90%;
        text-align: center;
        padding: 0;
    }
    .navMenuIcon {
        width: 6em;
        border-radius: 10px;
        float: left;
    }
}

@media screen and (max-width: 550px) {
    #fullNavBar {
        display: none;
    }
    #navMenu {
        display: none;
        position: absolute;
        top: 40px;
        left: 15%;
        z-index: 1;
    }
    #navMenu h5 {
        margin-bottom: .3%
    }
    #navMenu li {
        margin: .15%;
    }
    #navMenu button {
        margin: 0;
    }
    .navMenuIcon {
        width: 4em;
        border-radius: 10px;
    }
    li {
        list-style-type: none;
    }
    h1 {}
    #navTitle {
        font-size: 23px;
        float: right;
        padding: 2% 14% 2% 0%;
    }
}
