@media screen and (min-width: 551px) {
    .profileField {
        padding: 2%;
        width: 36%;
    }
}

@media screen and (max-width: 550px) {
    .profileField {
        padding: 3%;
        width: 95%;
    }
}

.profileContent {
    margin: 0 auto;
    padding: 1%;
    border: 2px solid silver;
    border-radius: 10px;
}

.profileEnter {
    color: black;
    text-align: right;
    margin-top: 1%;
}

.profilePicture {
    margin: 0 auto;
    width: 100%;
    border-radius: 80px;
    background-color: silver;
}

.profilePictureContainer {
    width: 60%;
    /*    height: 200px;*/
    border: 2px solid silver;
    background-color: silver;
    border-radius: 10px;
    opacity: .7;
    /*    margin-bottom: 3%;*/
    float: left;
    clear: right;
}

.smallProfileDisplay {
    width: 38%;
    float: right;
}

.largeProfileDisplay {
    width: 95%;
    background-color: black;
    border: none;
    font-size: 12px;
}

.profileDisplay input {
    background-color: black;
    opacity: 1;
    border: none;
    font-size: 11px;
    margin-bottom: 1%;
}

.enterFieldInput {
    width: 95%;
    background-color: silver;
    /*    float: right;*/
}

.enterFieldInputLarge {
    width: 95%;
    height: 150px;
    background-color: silver;
}
